
<div ng-cloak>


  <div ng-include="'app/home/popup.html'"></div>
    
    <div class="row">

  

        <div class="col-md-2">
            <div class="form-group">
            	<label>İlçe</label>
            	<select class="form-control" name="ilce" ng-model="vm.selectedIlce" ng-change="vm.updateMahalle(vm.selectedIlce)"
                    ng-options="ilce.key for ilce in vm.ilceList">
            	</select>
        	</div>
        	
        	<div class="form-group">
            	<label>Mahalle</label>
            	<select class="form-control" name="mahalle" ng-model="vm.selectedMahalle" ng-change="vm.updateSokak(vm.selectedMahalle)"
                    ng-options="mahalle.key for mahalle in vm.mahalleList">
            	</select>
        	</div>
        	
        	<div class="form-group">
            	<label>Sokak</label>
            	<select class="form-control" name="sokak" ng-model="vm.selectedSokak" ng-change="vm.updateBina(vm.selectedSokak)"
                    ng-options="sokak.key for sokak in vm.sokakList">
            	</select>
        	</div>
        	
        	<div class="form-group">
            	<label>Bina</label>
            	<select class="form-control" name="bina" ng-model="vm.selectedBina"
                    ng-options="bina.key for bina in vm.binaList">
            	</select>
        	</div>
        
        	<div class="form-group">
	        	<button type="submit" class="btn btn-primary" ng-click="vm.updateCoordinate(vm.selectedBina)">
	            	<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Getir</span>
	        	</button>
        	</div>
        	
        	<br>
        	<br>
        	<br>
        	<br>
        	<br>
        	<br><br>
        
  
        </div>
        <div class="col-md-10">
            <div map-lazy-load="https://maps.google.com/maps/api/js">
  				<ng-map center="38.718095, 35.485982" 
  				zoom="12" 
  				style="height:700px;"
  					>
  					
  				
  				</ng-map>
			</div>
        </div>
    </div>
    
    
</div>

 
