<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Görev Emri</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      <br><br>
  <div class="form-group">
     <table class="table">
  <tbody>
    <tr>
      <th >ILCE</th>
      <td>{{vm.sessionStorage.selectedIlce.key}}</td>
     </tr>
    <tr>
      <th scope="row">MAHALLE</th>
      <td>{{vm.sessionStorage.selectedMahalle.key}}</td>
    </tr>
    <tr>
      <th scope="row">SOKAK</th>
      <td>{{vm.sessionStorage.selectedSokak.key}}</td>
    </tr>
    <tr>
      <th scope="row">BİNA</th>
      <td>{{vm.sessionStorage.selectedBina.key}}</td>
    </tr>
 	<tr>
      <th scope="row">ENLEM</th>
      <td>{{vm.sessionStorage.coordinates[1].value}}</td>
    </tr>
    <tr>
      <th scope="row">BOYLAM</th>
      <td>{{vm.sessionStorage.coordinates[0].value}}</td>
    </tr>
  </tbody>
  </div>
  
  
</table>
        
   <th>     
        
  <div class="form-group">
            <label >İstasyon</label>
            <select class="form-control" name="station" ng-model="vm.selectedStation" required
                    ng-options="station as station.name for station in vm.stations track by station">
            </select>
            <div ng-show="editForm.station.$invalid">
                <p class="help-block"
                    ng-show="editForm.station.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        
  <div class="form-group">
            <label >Araç</label>
            <select class="form-control" name="vehicle" ng-model="vm.selectedVehicle" required
                    ng-options="vehicle as vehicle.plate for vehicle in vm.vehicles track by vehicle">
            </select>
            <div ng-show="editForm.vehicle.$invalid">
                <p class="help-block"
                    ng-show="editForm.vehicle.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        
   <div class="form-group">
            <label >Açıklama</label>
            <input type="text" class="form-control" name="description"
                   ng-model="vm.description"  ng-maxlength="100">       
                        
 </div>
 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
